// Colors
$c-black: #000;
$c-blue-dark: #4c8cd2;
$c-blue-light: #6fb6ff;
$c-blue-main: #4da1ff;
$c-red-main: #d0011b;
$c-white: #fff;

// Buttons
$c-btn-active: $c-blue-dark;
$c-btn-disabled: #f5f7f9;
$c-btn-hovered: $c-blue-light;
$c-btn-primary: $c-blue-main;

// Fonts
$f-gothapro: "gothapro", Arial, sans-serif;
$f-icons: "icons";
$f-ptsans: "ptsans", Arial, sans-serif;

// Inputs
$c-input-bg: #f5faff;
$c-input-border: $c-blue-main;
$c-input-error-bg: #fae5e8;
$c-input-error-border: $c-red-main;

// Text
$c-text-main: #333;
$c-text-disabled: #d5dadf;

// Heights
$h-header: 60px;
