// Colors
$c-black: #000;
$c-blue-dark: #4c8cd2;
$c-blue-light: #6fb6ff;
$c-blue-main: #4da1ff;
$c-blue-transparent: transparentize($c-blue-main, .95);
$c-white: #fff;
$c-grey-light: #f5f7f9;
$c-grey-middle: #b8bdc2;
$c-grey-main: #6b6f74;
$c-grey-dark: #313436;
$c-red-main: #d0011b;
$c-red-transparent: transparentize($c-red-main, .9);
$c-yellow: #f8e81c;
$c-green: #f8e81c;
$c-lime-green: #f8e81c;
$c-brown: #b47335;

// Checkboxes
$c-checkbox-bg-hover: #f5faff;
$c-checkbox-border: $c-blue-main;

// Body
$c-body-bg: $c-grey-light;

// Borders
$c-border-main: #e1e5e9;

// Buttons
$c-btn-active: $c-blue-dark;
$c-btn-disabled: $c-grey-light;
$c-btn-hovered: $c-blue-light;
$c-btn-primary: $c-blue-main;

// Droptips
$c-droptip-bg: $c-grey-light;
$c-droptip-border: $c-border-main;

// Fonts
$f-gothapro: "gothapro", Arial, sans-serif;
$f-icons: "icons";
$f-path: "../fonts/";
$f-ptsans: "ptsans", Arial, sans-serif;

// Heights
$h-header: 60px;

// Icons
$c-icon-stoke: $c-grey-main;

// Images
$i-path: "../images/";

// Inputs
$c-input-bg: #f5faff;
$c-input-border: $c-grey-middle;
$c-input-icon-bg: $c-grey-middle;
$c-input-error-bg: $c-red-transparent;
$c-input-error-border: $c-red-main;

// Listing page:
$c-listing-dark-grey: $c-grey-dark;
$c-tr-hovered: $c-listing-dark-grey;
$listing-offset: 16px;

// Navigation
$c-navigation-link-bg-hover: #f5faff;
$c-navigation-user-position: #626468;
$c-navigation-border: #e3e3e3;

// Notification
$c-notification-bg: #6b6f74;
$c-notification-message-hider: #6b6f74;

// Paginator
$c-paginator-border: #e1e5e9;
$c-paginator-border-active: #4da1ff;

// Popovers
$c-popover-border: #e1e5e9;
$c-popover-text-active: $c-grey-dark;

// Stickers
$c-sticker-bg-blue: #6fb6ff;
$c-sticker-bg-green: #b6e87f;
$c-sticker-bg-pink: #ffd1d1;
$c-sticker-bg-yellow: #fffbc4;
$c-sticker-checkbox-fill: #323437;
$c-sticker-empty-hover: $c-grey-main;
$c-sticker-muted-text: #313436;
$c-sticker-placeholder: #233438;
$c-sticker-overlay: #2b2b2b;

// Tables
$c-table-active-item: #233438;
$c-table-active-text: #252729;
$c-table-border: #e1e5e9;
$c-table-circles-bg: $c-grey-middle;
$c-table-nonactive-item: $c-grey-main;
$c-table-muted-text: $c-grey-middle;
$table-row-height: 60px;

// Text
$c-text-disabled: #d5dadf;
$c-text-grey: $c-grey-main;
$c-text-list: #828282;
$c-text-main: #333;

// Shadows
$s-header-shadow: #e2e2e2;
//$s-popover: 0 4px 22px rgba($c-black, 0.2);
$s-popover: 0 4px 22px rgba(darken($c-blue-main, 45%), 0.2);

// User
$c-avatar-bg: $c-grey-light;
$c-avatar-fill: $c-grey-middle;

// Default list(li)
$c-list-bullet: $c-grey-middle;

// Backgrounds
$bg-yellow: $c-yellow;
$bg-grey-main: $c-grey-main;
$bg-red-main: $c-red-main;
$bg-green: $c-green;
$bg-lime-green: $c-lime-green;
$bg-brown: $c-brown;
