@import "../utils/variables";

.editor {
  border: 1px solid $c-border-main;
  border-radius: 6px;
  padding: 16px;
}

.editor-controls {
  margin: -16px -16px 16px;
  border-bottom: 1px solid $c-border-main;

  &__section {
    float: left;
    border-right: 1px solid $c-border-main;
  }
}

.editor-control {
  float: left;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:first-child {
    border-radius: 6px 0 0;
  }

  &:last-child {
    border-radius: 0 6px 0 0;
  }

  &:hover {
    background-color: $bg-blue-grey;
  }

  &.active {
    .icon {
      fill: $c-blue-main;
    }
  }
}
