@import "../utils/variables";

.paginator {
  &__list {
    border-radius: 3px;
    display: flex;
    margin: 0 20px;
    overflow: hidden;
    text-align: center;

    &-item {
      border: 1px solid $c-paginator-border;
      cursor: pointer;
      height: 28px;
      line-height: 1.9;
      margin-left: -1px;
      transition: border-color 0.3s;
      width: 28px;

      &:first-child {
        border-radius: 3px 0 0 3px;
        margin-left: 0;
      }

      &:last-child {
        border-radius: 0 3px 3px 0;
      }

      &.disabled {
        color: $c-text-disabled;
        cursor: default;
      }

      &:hover:not(.disabled),
      &.active:not(.disabled) {
        border-color: $c-paginator-border-active;
        position: relative;
      }
    }

    &-link {
      color: $c-table-active-item;
    }
  }

  &__count {
    position: absolute;
    right: 10px;

    &-text {
      position: relative;
      top: 5px;
    }

    .paginator__list {
      float: right;
    }
  }
}
