@import "../utils/variables";

// Default popover with bottom direction:
.popover {
  background: $c-white;
  border-radius: 3px;
  bottom: 55px;
  box-shadow: $s-popover;
  font-size: 12px;
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: left;
  transform: translateX(-50%);
  visibility: hidden;
  width: 150px;
  z-index: 10;

  &::before {
    background: $c-white;
    bottom: -7px;
    box-shadow: -3px 3px 5px rgba($c-black, 0.05);
    content: "";
    position: absolute;
    left: 50%;
    height: 14px;
    margin: 0 0 0 -7px;
    display: block;
    transform: rotate(-45deg);
    width: 14px;
    z-index: 0;
  }

  &::after {
    bottom: -20px;
    content: "";
    left: 0;
    height: 20px;
    position: absolute;
    width: 100%;
  }

  .icon {
    fill: $c-grey-middle;
    transition: 0.3s;
  }

  &.top {
    bottom: auto;
    top: 48px;

    &::before {
      background: $c-grey-light;
      bottom: auto;
      box-shadow: 2px -3px 5px rgba($c-black, 0.05);
      top: -7px;
    }
  }

  &_visible {
    opacity: 1;
    visibility: visible;
  }

  &_sm {
    width: 175px;
  }

  &_md {
    width: 200px;
  }

  &_lg {
    width: 220px;
  }

  &_without-tabs.top::before {
    background: $c-white;
  }
}

.popover-parent:hover .popover {
  opacity: 1;
  transition: 0.3s;
  visibility: visible;
}

.popover_last {
  left: -24px;

  &::before {
    left: 90%;
  }

  &.popover_lg {
    left: -34px;

    &::before {
      left: 78%;
    }
  }
}

// Header part with tabs:
.popover-header {
  background: $c-grey-light;
  cursor: pointer;
  font-size: 14px;
  display: flex;
  text-align: center;

  &__tab {
    border-bottom: 1px solid $c-popover-border;
    color: $c-grey-main;
    flex: 1;
    padding: 10px 10px 9px;

    &:hover {
      background: darken($c-grey-light, 2%);
    }

    &.active {
      border-color: $c-blue-main;
      color: $c-grey-dark;
    }
  }
}

// Content part:
.popover-content-wrapper {
  display: none;
  padding: $listing-offset;

  &.active {
    display: block;
  }
}

// Content with color legend:
.popover-color-legend-item {
  align-items: center;
  display: flex;
  margin: 0 0 8px;
}

.popover-color-legend-date {
  height: 20px;
  margin: 0 12px 0 0;
  width: 20px;

  &_task {
    flex-basis: 45%;
    padding: 0;
  }
}

.popover-color-legend-value {
  color: $c-popover-text-active;

  &_task {
    flex-basis: 55%;
  }
}

// Content with history list:
.popover-history {
  height: 115px;
  overflow: auto;
  $this: &;

  &_task {
    height: 119px;
  }

  &__item {
    display: flex;
    margin: 0 0 10px;

    &:hover {
      text-decoration: none;

      #{$this}__value {
        color: $c-blue-main;
      }
    }
  }

  &__date {
    color: $c-grey-middle;
    padding: 0 13px 0 0;

    &_task {
      display: inline-block;
      margin: 0 8px 0 0;
      padding: 0;
      vertical-align: top;
      white-space: nowrap;
      width: 66px;
    }
  }

  &__value {
    color: $c-popover-text-active;

    &_task {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: top;
      white-space: nowrap;
      width: 120px;

      .icon {
        fill: $c-blue-main;
        margin: 0 3px 0 0;
        position: relative;
        top: 3px;
      }
    }
  }

  &__no-history {
    padding-top: 46px;
    text-align: center;
    color: $c-grey-middle;
  }
}

// Flat input in popover:
input.popover-input {
  border: 0;
  border-bottom: 1px solid $c-popover-border;
  border-radius: 0;
  font-size: 14px;
  margin: 0 -#{$listing-offset} 12px;
  padding: 0 $listing-offset;
  width: calc(100% + #{$listing-offset} * 2);
}

// List of decrease numbers:
.popover-decrease-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.popover-decrease-item {
  color: $c-grey-middle;
  cursor: pointer;
  flex-basis: 50%;
  margin-bottom: 6px;
  transition: 0.3s;
  text-align: right;
  user-select: none;

  &:nth-of-type(3),
  &:nth-of-type(4) {
    margin-bottom: 0;
  }

  &:hover {
    color: $c-blue-main;
  }
}

// Actions in popover footer:

.popover-actions-list {
  border-top: 1px solid $c-popover-border;
  margin: 0 -16px -16px;
  padding: 0 8px;
  text-align: right;
}

.popover-actions-item {
  display: inline-block;
  margin: 0 0 0 8px;
  padding: 8px;
  background: none;
  border-width: 0;
  cursor: pointer;

  .icon {
    fill: $c-grey-dark;
  }

  &.disabled {
    cursor: default;

    .icon {
      cursor: default;
      fill: $c-grey-middle;
      opacity: 0.5;
    }
  }

  &:not(.disabled):hover .icon {
    fill: $c-blue-main;
  }

  &_share {
    margin-left: 0;
    float: left;
  }
}

// Popover with task list:
.popover-task-item {
  border-bottom: 1px solid $c-popover-border;
  color: $c-popover-text-active;
  cursor: pointer;
  margin: 0 -#{$listing-offset};
  padding: 11px;
  transition: 0.3s;
  text-align: center;

  &:last-child {
    border: 0;
  }

  &:hover,
  &.active,
  &:active {
    color: $c-blue-main;

    &:not(.disabled) {
      background-color: $c-blue-transparent;
    }
  }

  &.disabled {
    color: $c-grey-middle;
    cursor: default;
  }
}

.popover-deal-list {
  min-height: 80px;
}

// Popover with deal list:
.popover-deal-item {
  display: block;
  border-bottom: 1px solid $c-popover-border;
  color: $c-listing-dark-grey;
  margin: 0 -#{$listing-offset};
  padding: 11px 21px 11px 38px;
  transition: 0.3s;
  position: relative;
  word-wrap: break-word;


  &:last-child {
    border: 0;
  }

  &_link {
    cursor: pointer;

    &:hover {
      color: $c-blue-main;
      background-color: $c-blue-transparent;
      text-decoration: none;

      .icon {
        fill: $c-blue-main;
      }
    }
  }

  .icon {
    position: absolute;
    left: 16px;
    top: 11px;
  }
}

// Custom select:
.popover-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  display: block;
  height: 36px;
  font-size: 14px;
  padding: 0 12px;
  width: 100%;
}

.popover-select-wrapper {
  margin: 0 -#{$listing-offset};
  position: relative;

  &::before {
    border-color: $c-grey-dark transparent transparent;
    border-style: solid;
    border-width: 6px 6px 0;
    content: "";
    height: 0;
    margin-top: -1px;
    pointer-events: none;
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
  }
}

.table-options {
  &__trigger {
    display: block;
    height: 15px;
    padding: 5px 0;
    margin-top: 2px;
    cursor: pointer;
  }
}
