@import "../utils/variables";

table {
  color: $c-grey-main;
  font-size: 12px;
  width: 100%;

  tr {
    height: $table-row-height;
  }

  th {
    border-bottom: 2px solid $c-table-border;
    font-weight: 400;
    padding: 6px $listing-offset;
    position: relative;
    text-align: left;
    vertical-align: middle;
  }

  td {
    border-bottom: 1px solid $c-table-border;
    padding: 6px $listing-offset;
    position: relative;
    text-align: left;
  }
}

tbody {
  tr {
    background: $c-white;
  }
}
