@import "../utils/variables";
@import "buttons";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  font-family: $f-ptsans;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $c-black;
}

.selectbox {
  position: relative;

  &::before {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -1px;
    border: 4px solid transparent;
    border-top-color: #313436;
    pointer-events: none;
    content: "";
  }

  &:hover {
    &::before {
      border-top-color: $c-blue-main;
    }
  }

  select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 14px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #c0c5ca;

    &::-moz-focus-inner {
      border: 0;
      outline: none;
    }
  }
}

.input,
textarea,
.textarea,
input[type="text"],
input[type="password"] {
  height: 46px;
  padding: 0 20px;
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #c0c5ca;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  font-family: $f-ptsans;

  &.input_smaller {
    height: 36px;
    padding: 0 16px;
  }

  &:focus {
    border-color: $c-blue-main;

    + .input-icon {
      border-color: $c-blue-main;
    }
  }

  &.error {
    border-color: $c-input-error-border;

    + .input-icon {
      border-color: $c-input-error-border;
      background: rgba(208, 1, 27, 0.1);
    }

    + .input-icon svg {
      fill: $c-input-error-border;
    }
  }
}

.input {
  &.input-with-icon {
    padding-left: 66px;
  }
}

textarea,
.textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  height: auto;
}

.input-icon {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 46px;
  border-right: 1px solid #c0c5ca;
  border-radius: 4px 0 0 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(192, 197, 202, 0.1);
}

.input-pane {
  display: block;
  position: relative;
}

.ul {
  margin: 0 0 14px 18px;

  li {
    position: relative;
    margin-bottom: 4px;
    padding-left: 18px;

    &::before {
      position: absolute;
      top: 8px;
      left: 3px;
      width: 4px;
      height: 4px;
      background: #828282;
      content: "";
    }
  }
}

.avatar {
  width: 86px;
  height: 86px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #f5f7f9;

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #c0c5ca;
  }
}

.no-padding {
  padding: 0;
}
