@import "../utils/variables";
@import "buttons";
@import "tables";
@import "inputs";
@import "paginator";

select {
  font-family: $f-ptsans;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $c-black;
}

.selectbox {
  display: block;
  position: relative;

  &::before {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -1px;
    border: 4px solid transparent;
    border-top-color: #313436;
    pointer-events: none;
    content: "";
  }

  &:hover {
    &::before {
      border-top-color: $c-blue-main;
    }
  }

  select {
    border: 1px solid #c0c5ca;
    display: block;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 14px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;

    &::-moz-focus-inner {
      border: 0;
      outline: none;
    }

    &.select-lg {
      height: 46px;
    }
  }
}

.ul {
  margin: 0 0 14px 18px;

  li {
    margin-bottom: 4px;
    padding-left: 18px;
    position: relative;

    &::before {
      background: #828282;
      position: absolute;
      top: 8px;
      left: 3px;
      height: 4px;
      content: "";
      width: 4px;
    }
  }
}
