{  "extends": "airbnb",  "globals": {    "axios": true,    "document": true,    "localStorage": true,    "window": true  },  "parser": "babel-eslint",  "rules": {    "linebreak-style": 0,    "no-console": ["error", {      "allow": ["group", "groupEnd", "info", "error", "warn"]    }]  }}