@import "../utils/variables";

.faq {
  max-width: 820px;
  margin: 0 auto;

  &__categories {
    margin-right: -35px;
  }

  &__category {
    float: left;
    width: calc(50% - 35px);
    margin: 0 35px 24px 0;
  }

  &__search {
    margin-bottom: 24px;
  }
}

.faq-category {
  background: $c-white;
  border: 1px solid $c-border-main;
  border-radius: 3px;
  position: relative;
  padding: 28px 24px 0 68px;
  height: 218px;

  &__icon {
    position: absolute;
    left: 30px;
    top: 26px;
    fill: $c-blue-main;
  }

  &__title {
    font-size: 16px;
    font-family: $f-gothapro;
    margin-bottom: 12px;
  }

  &__questions {
    display: table-cell;
    height: 114px;
    vertical-align: middle;
  }

  &__question {
    margin-bottom: 8px;
  }

  &__link {
    color: $c-text-main;
    &:hover {
      text-decoration: none;
      color: $c-blue-main;
    }
  }

  &__more {
    color: $c-blue-main;

    &::after {
      content: '\003e';
      margin-left: 4px;
      transition: margin-left ease .1s;
    }

    &:hover {
      text-decoration: none;
      color: $c-blue-dark;

      &::after {
        margin-left: 8px;
      }
    }
  }
}

.faq-list {
  padding: 28px 44px 36px;
  background: $c-white;
  border-radius: 3px;
  border: 1px solid $c-border-main;

  &__item {
    position: relative;
    padding: 0 24px;
    color: $c-text-grey;
    &:not(:last-of-type){ border-bottom: 1px solid $c-border-main; };

    &::before {
      position: absolute;
      left: 6px;
      top: 20px;
      width: 4px;
      height: 4px;
      background: $c-list-bullet;
      border-radius: 50%;
      content: "";
    }

    &_active {
      background: $c-grey-light;

      &::before {
        display: none;
      }

      .faq-list__link {
        color: $c-text-main;
        font-weight: bold;
        &:hover {
          color: $c-text-main;
        }
      }

      .faq-list__answer {
        display: block;
      }
    }
  }

  &__link {
    color: $c-text-grey;
    font-size: 16px;
    display: inline-block;
    padding: 12px 0;

    &:hover {
      text-decoration: none;
      color: $c-blue-main;
    }
  }

  &__answer {
    display: none;
    font-size: 14px;
    padding-bottom: 18px;
  }
}

.faq-form {
  padding: 36px 36px 28px;
  background: $c-white;
  border-radius: 3px;
  border: 1px solid $c-border-main;

  &__row {
    margin-bottom: 24px;
  }

  &__label {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
  }
}

.faq-cover {
  padding: 48px 44px;
  background: $c-white;
  text-align: center;
  border-radius: 3px;
  border: 1px solid $c-border-main;

  &__ok-tick {
    width: 80px;
    height: 80px;
    margin: 0 auto 36px;
    border: 5px solid $c-blue-main;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    display: inline-block;
    fill: $c-blue-main;
  }

  &__text {
    max-width: 480px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 36px;
  }
}

.faq-errors {
  margin-bottom: 16px;

  &__item {
    color: $c-red-main;
    margin-bottom: 4px;
  }
}

.faq-search {
  height: 60px;
  position: relative;
  z-index: 3;

  &__control {
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;

    &_lens {
      left: 0;
      top: 0;
    }

    &_clean {
      right: 0;
      cursor: pointer;
    }
  }

  &__lens-icon {
    stroke: $c-text-disabled;
  }

  &__clean-icon {
    fill: $c-text-disabled;
  }

  &__input.input {
    height: 58px;
    font-size: 22px;
    border-width: 0;
    padding: 0 60px;
    background: none;
  }

  &__autocomplete {
    max-height: 300px;
    overflow: auto;
  }
}

.faq-autocomplete {
  background: $c-white;

  &__bar {
    background: $c-white;
    border: 1px solid $c-border-main;
    border-radius: 3px;

    &_focused {
      box-shadow: 0 0 26px rgba($c-black, 0.1);
    }
  }

  &__item {
    padding: 16px 16px 16px 60px;
    border-top: 1px solid $c-border-main;
    position: relative;
    cursor: pointer;

    &_active {
      background: lighten($c-border-main, 8);
    }
  }

  &__title {
    margin-bottom: 2px;
  }

  &__category {
    font-size: 12px;
    color: $c-grey-middle;
  }

  &__extra-title {
    color: $c-blue-light;
  }

  &__icon {
    position: absolute;
    left: 20px;
    top: 20px;
    fill: $c-blue-main;
  }

  &__404 {
    position: absolute;
    left: 14px;
    top: 20px;
    font-size: 20px;
    color: $c-text-disabled;
  }
}
