@import "../utils/variables";

// Required for <Sticky /> component:
.sticky {
  top: 60px !important;
}

// First div with <Sticky /> element:
.listing-wrapper > div:first-child {
  font-weight: bold;
  position: relative;
  z-index: 10;
}

@import "../utils/variables";

.table {
  color: $c-grey-main;
  font-size: 12px;
  width: 100%;

  &::after {
    display: block;
    font-size: 0;
    clear: both;
    content: " ";
    height: 0;
    visibility: hidden;
  }

  &-th {
    padding: 6px 16px;
  }
}

.table-row {
  align-items: center;
  background: $c-white;
  border-bottom: 1px solid $c-table-border;
  height: $table-row-height;
  display: flex;
  transition: color 0.3s;

  &:hover {
    color: $c-tr-hovered;

    .table-cell__id,
    .table-cell__broker,
    .table-cell__price,
    .table-cell__dealer {
      border-bottom: 1px dashed;
    }

    .table-cell__dot {
      opacity: 0.6;
    }
  }
}

.table-th-wrapper {
  background: $c-grey-light;
  border-width: 2px;
}

.table-heading,
.table-body,
.table-foot {
  clear: both;
}

.table-cell {
  background: $c-white;
}

.table-cell,
.table-head {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 6px 16px;
  position: relative;
}

.table-col {
  &__checkbox {
    flex-basis: 52px;
  }

  &__color {
    position: relative;
    flex-basis: 5px;
    z-index: 1;
  }

  &__id {
    flex-basis: 80px;
  }

  &__img {
    flex-basis: 40px;
  }

  &__name {
    flex-basis: 160px;
  }

  &__category {
    flex-basis: 140px;
  }

  &__location {
    flex-basis: 70px;
  }

  &__price,
  &__profit {
    flex-basis: 100px;
  }

  &__broker,
  &__dealer {
    flex-basis: 110px;
  }

  &__created,
  &__updated {
    flex-basis: 65px;
  }

  &__watched {
    flex-basis: 40px;
  }

  &__like,
  &__comments {
    flex-basis: 45px;
  }

  &__actions {
    flex-basis: 75px;
  }
}

.table-dot {
  background: $c-table-circles-bg;
  border-radius: 50%;
  height: 5px;
  width: 5px;
}

// All table headings:
.table-th {
  &__icon {
    fill: $c-table-nonactive-item;
    position: relative;
    top: 2px;
    transition: 0.3s;
  }
}

// All table cells:
.table-cell {
  &__span {
    display: inline-block;
    height: 47px;
    overflow: hidden;
  }

  &__comments {
    align-items: center;
    background: $c-table-circles-bg;
    border-radius: 50%;
    color: $c-white;
    display: flex;
    height: 24px;
    line-height: 1;
    justify-content: center;
    width: 24px;
  }

  &__action-left {
    cursor: pointer;
    min-height: 40px;
    opacity: 0;
    padding: 11px 0 0 16px;
    transition: 0.3s;

    .table-row:hover & {
      opacity: 1;
    }
  }

  &__action-right {
    cursor: pointer;
    min-height: 40px;
    padding: 10px;
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 76px;
  }

  &__list {
    cursor: pointer;
    fill: $c-black;
    opacity: 0.6;
    transition: 0.3s;
  }

  &__dot {
    background: $c-black;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin: 0 1px;
    opacity: 0.12;
    transition: 0.3s;
    width: 5px;
    vertical-align: top;
  }
}

.table-color {
  background: $c-border-main;
  height: calc(100% + 1px);
  left: 0;
  position: absolute;
  top: -1px;
  width: 5px;
}

// Table footer:
.table-footer {
  align-items: center;
  background: $c-white;
  border-bottom: 1px solid $c-table-border;
  display: flex;
  height: $table-row-height;
  justify-content: center;
  margin: 0 0 12px;
  position: relative;

  &__items {
    color: $c-grey-main;
  }

  &__items-count {
    color: $c-table-active-text;
  }
}

.table-actions {
  color: $c-table-muted-text;
  display: flex;
  font-size: 12px;
  padding: 0 11px;

  &__checkbox {
    flex: 1;
  }

  &__items {
    display: flex;
    line-height: 1.6;
    flex: 7;
  }

  &__item {
    margin: 0 24px 0 0;
    position: relative;

    &.active {
      cursor: pointer;
    }

    .popover {
      bottom: 30px;
    }
  }

  &__title {
    color: $c-table-active-item;
    margin: 0 24px 0 0;
  }

  &__list {
    display: flex;
  }
}

// Table tooltip:
.table-tooltip {
  position: relative;
  z-index: 1;

  &__content {
    background: $c-white;
    border-radius: 4px;
    box-shadow: 0 4px 22px rgba($c-black, 0.2);
    cursor: default;
    left: 50%;
    opacity: 0;
    padding: 4px;
    pointer-events: none;
    position: absolute;
    top: -85px;
    transform: scale3d(0.3, 0.3, 0.3) translateX(-166%);
    transition: opacity 0.2s, transform 0.2s;
    z-index: 100;

    &-img {
      display: block;
      max-height: none;
      max-width: none;
    }
  }

  &:hover {
    opacity: 0;
    z-index: 101;

    ~ .table-tooltip__content {
      pointer-events: auto;
      opacity: 1;
      transform: translateX(-50%) translate3d(0, 0, 0);
    }
  }
}

// Detail page:
.detail-page {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba($c-black, 0.5);
  z-index: 300;
  color: $c-text-main;

  &__gallery {
    margin: -24px -36px 24px;
  }

  &__label {
    font-size: 13px;
    color: $c-text-disabled;
    margin-bottom: 12px;
  }

  &__title {
    font-size: 16px;
    font-family: $f-gothapro;
    margin-bottom: 16px;
  }
}

.detail-page-blank {
  background: $c-white;
  padding: 24px 36px;
  border: 1px solid $c-border-main;
  border-radius: 3px;
  margin-bottom: 16px;
}

.detail-page-aside {
  float: right;
  height: 100%;
  width: 640px;
  background: $c-body-bg;
}

.detail-page-header {
  padding: 8px 24px 24px 24px;
  background: $c-white;
  height: 114px;
  position: relative;
  border-bottom: 1px solid $c-border-main;

  &__title {
    font-size: 16px;
    font-family: $f-gothapro;
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
}

.detail-page-body {
  padding: 17px 24px;
  height: calc(100% - 114px);
  overflow: auto;
}

.detail-page-menu {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: table;
  width: 100%;
  padding: 0 10px;

  &__item {
    display: table-cell;
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;

    &.active {
      .detail-page-menu__link {
        border-bottom-color: $c-blue-main;
      }
    }
  }

  &__link {
    display: inline-block;
    padding: 8px 0px;
    border-bottom: 1px solid transparent;
  }
}

.detail-page-status {
  &__label {
    display: inline-block;
    padding: 0 9px;
    margin-right: 16px;
    background: $c-border-main;
    line-height: 20px;
  }

  &__last-update {
    color: $c-text-disabled;
  }
}

.detail-page-gallery {
  height: 200px;
  background: $c-border-main;
}

.detail-page-main {
  &__info {
    border-bottom: 1px solid $c-border-main;
    padding-bottom: 12px;
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 20px;
  }
}

.detail-page-info {
  margin-bottom: 12px;

  &__key {
    float: left;
    width: 175px;
    margin-right: 20px;
    font-size: 13px;
    color: $c-text-disabled;
  }

  &__value {
    overflow: hidden;
  }
}
