
.header
    height: 60px
    background: #fff
    box-shadow: 0 1px 1px #e2e2e2
    margin-bottom: 20px
    position: relative
    z-index: 300
	
    &__left
    	float: left
    	width: 15%

    &__right
    	float: right
    	width: 15%

   	&__center
   		float: left
    	width: 70%


.logo
	float: left
	height: 60px
	margin-right: 9px
	font-family: $gothapro
	font-size: 16px
	color: #4da1ff
	padding-top: 20px


.droptip
    width: 400px
    background: #f5f7f9
    box-shadow: 0 0px 24px rgba(0, 0, 0, 0.15)
    border-radius: 3px
    position: absolute

    &:before
    	position: absolute
    	right: 25px
    	top: -7px
    	width: 14px
    	height: 14px
    	display: block
    	background: #f5f7f9
    	box-shadow: 3px -3px 5px rgba(0, 0, 0, 0.02)
    	content: ''
    	transform: rotate(-45deg)
    	z-index: 0
	
   	&__header
   		padding: 24px 36px 19px 36px
   		position: relative
   		z-index: 100
   		border-bottom: 1px solid #e1e3e9

   	&__footer
   		padding: 14px 36px
   		position: relative
   		border-top: 1px solid #e1e3e9

   	&__content
   		background: #fff
   		padding: 24px 36px
   		line-height: 26px
   		max-height: 300px
   		overflow: auto

   		&:last-child
   			border-radius: 0 0 3px 3px


.patch-notes
	float: left
	position: relative
	display: inline-block
	margin-top: 24px

	&__droptip
		position: absolute
		left: -95px
		top: 100%
		z-index: 300
		margin-top: 56px

		&:before
			left: 94px

	&__trigger
		display: inline-block
		border-radius: 50%
		cursor: pointer
		vertical-align: top
		margin-top: -1px

		svg
			fill: #989898

		&:hover
			svg
				fill: #4a90e2

	&__icon
		float: right
		width: 100px
		margin: 3px 0px 0px 16px

	&__title
		font-family: $gothapro
		font-size: 20px
		margin-bottom: 5px

	&__version
		margin-bottom: 6px
		font-size: 16px

	&__name
		color: #4da1ff
		font-size: 16px

	&__controls
		margin: -4px 0px -4px -12px


.patch-note-control
	cursor: pointer
	display: inline-block
	vertical-align: top
	padding: 4px 10px
	margin: 0px 2px

	svg
		fill: #000

	&:hover
		svg
			fill: #4a90e2

	&.disabled
		cursor: default
		
		svg
			fill: #c0c5ca


.nav
	text-align: center

	&:hover
		.nav__link
			border-bottom-color: transparent

	&__section
		display: inline-block
		position: relative
		padding: 0px 20px

		&:hover
			&:before
				position: absolute
				left: 50%
				bottom: -8px
				width: 16px
				height: 16px
				margin-left: -8px
				background: #fff
				z-index: 100
				transform: rotate(-45deg)
				content: ''

			.nav__subnav
				display: block !important

			.nav__link
				color: #4da1ff

	&__link
		display: block
		height: 60px
		padding: 18px 16px 0px 16px
		color: #6b6f74
		font-size: 16px
		border-bottom: 2px solid transparent

		&:hover
			text-decoration: none

		&_active
			border-bottom-color: rgba(77, 161, 255, 0.80)

	&__subnav
		position: absolute
		left: 0
		top: 100%
		min-width: 1200px
		margin: 0px -3000px 0px -3000px
		padding: 0px 3000px
		white-space: nowrap
		background: #6fb6ff
		display: none
		box-sizing: content-box
		text-align: left


.subnav

	&__link
		display: inline-block
		height: 92px
		color: #fff
		padding: 25px 0px 0px 0px
		text-align: center
		width: 130px

		&:hover
			background: #4da1ff
			text-decoration: none

	&__icon
		display: block
		height: 24px
		line-height: 24px
		text-align: center
		padding-bottom: 8px

		svg
			fill: #fff


.usertop
	float: right
	position: relative

	&__trigger
		padding: 5px 10px
		width: 70px
		height: 60px
		cursor: pointer

		&.active
			background: #f5faff

	&__trigger-pic
		width: 50px
		height: 50px
		border: 1px solid #f4f6f8
		border-radius: 50%
		background-position: 50% 50%
		background-size: cover

	&__droptip
		right: -3px
		top: 100%
		margin-top: 26px
		width: 300px

	&__header
		padding: 11px 24px 15px 24px

	&__image
		float: left
		width: 78px
		height: 78px
		margin: 2px 16px 0px 0px
		border: 4px solid #fff
		box-shadow: 0 4px 18px rgba(0, 0, 0, 0.3)
		border-radius: 50%
		overflow: hidden

	&__name
		font-size: 18px

	&__position
		margin-bottom: 9px
		color: #626468

	&__content
		padding: 0px !important

	&__link
		display: block
		color: #6b6f74
		font-size: 14px
		text-align: center
		padding: 10px 0px
		border-top: 1px solid #e3e6ea
		cursor: pointer

		&:first-child
			border-top: 0

		&:hover
			color: #4da1ff


.usertop-score
	display: inline-block
	vertical-align: top
	
	&__num
		margin-right: 8px

	&__icon
		vertical-align: top

	&_score
		margin-right: 22px

		.usertop-score__num
			font-size: 22px
			color: #d0021b

		.usertop-score__icon
			fill: #D0011B
			margin-top: 4px

	&_money
		padding-top: 2px

		.usertop-score__num
			font-size: 20px
			color: #4da1ff

		.usertop-score__icon
			fill: #D0011B
			margin-top: 3px


.stickers
	float: right

	&__trigger
		width: 60px
		height: 60px
		text-align: center
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: center
		cursor: pointer

		&:hover
			background: #f5faff

	&__trigger-icon
		fill: #6b6f74

	&__overlay
		position: fixed
		left: 0
		top: 60px
		bottom: 0
		width: 100%
		background: #2b2b2b
		z-index: 400
		padding: 24px 18px

.sticker
	background: #fffbc4
	position: relative
	border-radius: 4px

	&:before
		display: block
		width: 0
		height: 0
		padding-top: 100%
		content: ''

	&__inner
		position: absolute
		left: 0
		top: 0
		width: 100%
		height: 100%

	&__header
		height: 38px
		padding: 12px 24px 0px 24px
		border-bottom: 1px solid rgba(0, 0, 0, 0.3)
		color: rgba(0, 0, 0, 0.3)
		font-size: 12px

	&__time
		float: left

	&__name
		overflow: hidden
		text-align: right

	&__content
		position: absolute
		width: 100%
		top: 58px
		bottom: 24px
		left: 0px
		padding: 0px 24px
		overflow: auto
		font-size: 16px
		line-height: 26px





