@import "../utils/variables";

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $bg-grey-light;
  color: $c-text-main;
  font-family: $f-ptsans;
  min-width: 1260px;
  height: 100%;
  position: relative;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba($c-white, 0);
  -webkit-focus-ring-color: rgba($c-white, 0);
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

img {
  border: 0;
  max-height: 100%;
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:focus {
    text-decoration: none;
  }

  &:hover {
    text-decoration: underline;
  }
}

h1,
.h1 {
  position: relative;
  margin-bottom: 24px;
  font-family: $f-gothapro;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
}

h2,
.h2 {
  position: relative;
  margin-bottom: 16px;
  font-family: $f-gothapro;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
}

h3,
.h3 {
  position: relative;
  margin-bottom: 16px;
  font-family: $f-gothapro;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.3;
}

h4,
.h4 {
  position: relative;
  margin-bottom: 16px;
  font-family: $f-gothapro;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.3;
  text-transform: uppercase;
}

p,
.paragraph {
  font-size: 16px;
  margin-bottom: 14px;
}

.underline {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.ol {
  counter-reset: numlist;
  margin: 0 0 14px 18px;

  li {
    position: relative;
    margin-bottom: 4px;
    padding-left: 18px;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;
      color: $c-text-list;
      font-size: 12px;
      counter-increment: numlist;
      content: counter(numlist) ".";
      font-weight: normal;
      font-style: italic;
    }
  }
}

blockquote {
  margin: 0 0 14px 42px;
  padding: 0;
  font-size: 16px;
  font-style: italic;
  max-width: 548px;
}

b {
  font-weight: bold;
}

.more-trigger {
  color: $c-blue-light;
  cursor: pointer;

  &__arrow {
    margin: 0 0 -1px 2px;
    fill: $c-blue-main;
    transform: rotate(90deg);
  }

  &.active {
    .more-trigger__arrow {
      transform: rotate(-90deg);
    }
  }
}

.Select-placeholder,
.Select--single > .Select-control .Select-value {
  line-height: 36px;
}

.Select-input > input {
  padding-top: 11px;
}

.Select-menu-outer {
  border-color: $bd-main;
}

.style-disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}