@import "../utils/variables";

.filter {
  border-radius: 3px;
  background: $bg-white;
  box-shadow: 0 -1px 0 0 $bd-main inset, -1px 0 0 0 $bd-main inset;
  border-top: 1px solid $bd-main;
  border-left: 1px solid $bd-main;
  position: relative;
  z-index: 11;
  $this: &;

  &__row {
    clear: both;
    box-shadow: 0 -1px 0 0 $bd-main inset;

    #{$this}__row {
      margin-right: -1px;
    }
  }

  &__cell {
    float: left;
    width: calc(20% + 1px);
    height: 42px;
    border: 1px solid $bd-main;
    position: relative;
    z-index: 0;
    transition-duration: 0.2s;
    margin: -1px 0 0 -1px;
    background: $bg-white;

    &:hover,
    &.active {
      z-index: 9;
    }

    &_hover {
      &:hover {
        background: $bg-blue-grey;
      }
    }

    &_deeper {
      width: calc(50% + 1px);

      .form-dropdown {
        width: 200%;
      }
    }

    &.round-top-left {
      border-top-left-radius: 3px;
    }

    &.round-top-right {
      border-top-right-radius: 3px;
    }

    &.round-bottom-left {
      border-bottom-left-radius: 3px;
    }

    &.round-bottom-right {
      border-bottom-right-radius: 3px;
    }
  }

  &__input.input {
    border: 0;
    height: 40px;
    padding: 0 12px;
  }
}

.filter-footer {
  height: 40px;
  background: $bg-blue-grey;
  border-top: 1px solid $bd-main;
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
  line-height: 40px;
}

.filter-trigger {
  display: block;
  height: 40px;
  padding: 0 12px;
  color: $c-grey-middle;
  //cursor: pointer;
  $this: &;

  .filter__cell_hover & {
    cursor: pointer;
  }

  &_binded {
    #{$this}__label {
      font-size: 10px;
      line-height: 1;
      padding: 7px 0 1px;
    }
  }

  &__label {
    display: block;
    line-height: 40px;
    font-size: 12px;
  }

  &__value {
    display: block;
    color: $c-blue-main;
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__more {
    float: right;
    color: $c-grey-middle;
    font-size: 12px;
    margin-left: 4px;
  }
}

.form-header {
  overflow: hidden;
  background-color: $c-grey-light;
  padding: 8px 12px 8px 15px;
  font-size: 12px;
  min-height: 32px;

  &__name {
    &_number {
      display: inline-block;
      border-radius: 100%;
      width: 16px;
      height: 16px;
      color: $c-white;
      font-size: 11px;
      background-color: $c-grey-middle;
      margin-left: 5px;
      text-align: center;
      line-height: 16px;
    }
  }
}

.form-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  min-width: calc(100% + 1px);
  margin-top: 1px;
  background: $bg-white;
  box-shadow: 0 0 18px rgba($c-black, 0.2);

  &_two {
    width: calc(200% + 2px);
    overflow: hidden;
    background-color: $c-white;

    .form-column {
      float: left;
      width: 50%;
      border-left: 1px solid $c-border-main;

      &:first-child {
        border-right: 1px solid $c-border-main;
        margin-right: -1px;
        border-left: 0;
      }
    }
  }
}

.form-search {
  border-bottom: 1px solid $c-border-main;
  position: relative;
  $this: &;

  &__input.input {
    border: 0;
    height: 36px;
    padding: 10px 60px 12px 16px;
    font-size: 12px;
  }

  &__submit {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 36px;
    border-width: 0;
    background: none;
    cursor: pointer;

    &:hover {
      #{$this}__icon {
        stroke: $c-blue-main;
      }
    }
  }

  &__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -7px 0 0 -7px;
    stroke: $c-grey-middle;
    transition: 0.3s;
  }
}

.form-controls {
  border-top: 1px solid $c-border-main;
  color: $c-grey-middle;
  padding: 0 8px 0 8px;
  font-size: 12px;
  overflow: hidden;
  width: 100%;
  min-height: 36px;

  &__left {
    float: left;
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: stretch;

    > * {
      padding-left: 4px;
      padding-right: 4px;
      display: flex;
      align-items: center;
    }
  }

  &__right {
    float: right;
    display: flex;
    min-height: 40px;
    justify-content: center;
    align-items: stretch;

    > * {
      padding-left: 4px;
      padding-right: 4px;
      display: flex;
      align-items: center;
    }
  }

}

.form-control {
  background: none;
  border-width: 0;
  cursor: pointer;

  &.disabled .icon {
    cursor: default;
    fill: $c-grey-middle;
    opacity: 0.5;
  }

  &_reset {
    margin-left: 4px;
  }

  &_close {
    padding: 0 10px;
  }

  &:hover {
    color: $c-blue-main;

    .icon {
      fill: $c-blue-main;
    }
  }
}

.form-block {
  max-height: 260px;
  overflow: auto;
}

.form-range {
  width: 100%;
  overflow: auto;
  $this: &;

  .form-block {
    float: left;
    min-height: 150px;
    width: 50%;
    border-left: 1px solid $bd-main;
    position: relative;

    &:first-child {
      border-left: 0;
    }
  }

  &__list {
    padding: 12px;

    &_item {
      color: $c-grey-middle;
      cursor: pointer;
      text-align: right;
      margin-bottom: 5px;

      &:hover {
        color: $c-blue-main;
      }

      &:nth-of-type(n) {
        margin-bottom: 5px;
      }
    }
  }

  input#{$this}__input {
    border: 0;
    border-radius: 0;
    margin: 0;
    height: 38px;
    width: 100%;
    font-size: 14px;
    border-bottom: 1px solid $c-border-main;

    &:hover,
    &:focus {
      border-color: $c-blue-light;
    }
  }

  &__zone {
    position: absolute;
    top: 10px;
    left: 10px;
    color: $c-grey-middle;
  }
}

.form-recoupment {
  width: 200%;
  margin-left: -100%;
}

.form-profit {
  width: 200%;
}

.form-checkboxes {
  padding: 8px 12px;
  $this: &;

  &__group {
    padding-bottom: 8px;

    &:first-child {
      margin-top: -9px;
    }
  }

  &__hr {
    height: 1px;
    background-color: $c-grey-light;
    border: 0;
    margin: 10px 5px;
  }

  &__item {
    display: block;
    padding: 0 12px;
    margin: 0 -12px 4px;

    .checkbox {
      vertical-align: top;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &_group {
      background-color: $c-grey-light;
      margin: 0px -12px 8px -12px;
      padding: 8px 12px;
      border-bottom: 1px solid $c-border-main;
      border-top: 1px solid $c-border-main;
      min-height: 38px;
    }

    &_upper {
      margin-top: -9px;
    }
  }
}

.form-checkboxes-heading {
  background-color: $c-grey-light;
  margin: 0px -12px 8px -12px;
  padding: 8px 12px;
  border-bottom: 1px solid $c-border-main;
  border-top: 1px solid $c-border-main;
  min-height: 38px;
  $this: &;

  &_upper {
    margin-top: -9px;
  }

  &_clickable {
    cursor: pointer;

    &:hover {
      color: $c-blue-main;
    }
  }

  &__label {
    float: right;
    font-size: 12px;
    padding-top: 2px;
    color: $c-grey-main;

    #{$this}:hover & {
      color: $c-blue-main;
    }
  }
}

.checkboxes-no label.checkbox {
  display: initial;
  width: 0;
  margin-left: 5px;
}

.filter-controls {
  display: table;
  width: calc(100% + 1px);

  &__item {
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $bg-blue-grey;
    }

    &_trigger {
      padding-top: 0;
      white-space: nowrap;
      width: 46px;
      vertical-align: middle;

      &::before {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid $bd-grey-dark;
        border-right: 2px solid $bd-grey-dark;
        content: "";
        transform: rotate(45deg);
      }

      &.active {
        padding-top: 8px;

        &::before {
          transform: rotate(-135deg);
        }
      }
    }

    &_submit {
      outline: 1px solid $bd-main;
      background: $bg-grey-light;
      border-width: 0;
      padding: 0 16px;
      width: 110px;

      &:hover {
        background: $bg-blue-grey;
      }
    }

    &_reset {
      text-align: center;
      width: 110px;
      outline: 1px solid $bd-blue;
      position: relative;

      .filter-reset-icon {
        fill: $c-grey-main;
      }

      &:hover .filter-reset-icon {
        fill: $c-red-main;
      }
    }
  }
}

.filter-stored {
  padding: 0 12px;
  overflow: hidden;
}

.filter-stored-label {
  display: inline-block;
  margin-right: 24px;
  font-size: 12px;
  height: 40px;
  vertical-align: top;
}

.filter-stored-item {
  display: inline-block;
  margin-right: 16px;
  color: $c-grey-main;
  cursor: pointer;
  font-size: 12px;
  vertical-align: top;
  $this: &;

  &:hover {
    color: $c-blue-main;
  }

  &__remove {
    display: inline-block;
    width: 24px;
    height: 40px;
    text-align: center;

    &:hover {
      color: $c-red-main;

      #{$this}__remove-icon {
        fill: $c-red-main;
      }
    }
  }

  &__remove-icon {
    fill: $c-grey-main;
    margin-bottom: -1px;
  }
}

.filter-stored-save {
  height: 40px;
  float: right;
  width: calc(20% + 1px);
  border-left: 1px solid $bd-main;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    color: $c-blue-main;
  }
}