@import "../utils/variables";

.root {
  height: 100%;
  overflow-x: hidden;
}

.center {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 18px;
  width: 100%;
}

.page-cover {
  height: calc(100vh - #{$h-header});
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -20px;

  &__dots1 {
    position: absolute;
    top: -50%;
    right: 60px;
  }

  &__dots2 {
    bottom: -60%;
    left: 60px;
    position: absolute;
  }
}
