@font-face {
  font-family: "gothapro";
  src: url("../fonts/gothapro-medium.eot");
  src: url("../fonts/gothapro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gothapro-medium.woff2") format("woff2"), url("../fonts/gothapro-medium.woff") format("woff"), url("../fonts/gothapro-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ptsans";
  src: url("../fonts/ptsans.eot");
  src: url("../fonts/ptsans.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
