@import "./utils/variables";
@import "./ui/buttons";

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

select {
  font-family: $f-ptsans;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 $c-black;
}

.selectbox {
  position: relative;

  &::before {
    position: absolute;
    right: 15px;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -1px;
    border: 4px solid transparent;
    border-top-color: #313436;
    pointer-events: none;
    content: "";
  }

  &:hover {
    &::before {
      border-top-color: $c-blue-main;
    }
  }

  select {
    display: block;
    width: 100%;
    height: 36px;
    padding: 0 12px;
    border-radius: 4px;
    font-size: 14px;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid #c0c5ca;

    &::-moz-focus-inner {
      border: 0;
      outline: none;
    }
  }
}

.input,
textarea,
.textarea,
input[type="text"],
input[type="password"] {
  height: 46px;
  padding: 0 20px;
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #c0c5ca;
  border-radius: 4px;
  resize: none;
  font-size: 14px;
  font-family: $f-ptsans;

  &.input_smaller {
    height: 36px;
    padding: 0 16px;
  }

  &:focus {
    border-color: $c-blue-main;

    + .input-icon {
      border-color: $c-blue-main;
    }
  }

  &.error {
    border-color: $c-input-error-border;

    + .input-icon {
      border-color: $c-input-error-border;
      background: rgba(208, 1, 27, 0.1);

      svg {
        fill: $c-input-error-border;
      }
    }

    + .input-icon svg {
      fill: $c-input-error-border;
    }
  }
}

.input {
  &.input-with-icon {
    padding-left: 66px;
  }
}

textarea,
.textarea {
  padding-top: 12px;
  padding-bottom: 12px;
  height: auto;
}

.input-icon {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  width: 46px;
  border-right: 1px solid #c0c5ca;
  border-radius: 4px 0 0 4px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(192, 197, 202, 0.1);
}

.input-pane {
  display: block;
  position: relative;
}

.style {
  &_link {
    @extend a;
    border-width: 0;

    &_underlined {
      @extend a;
      text-decoration: underline;
      border-width: 0;

      &:hover {
        text-decoration: none;
      }
    }

    &_dashline {
      @extend a;
      border-width: 0;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.ul {
  margin: 0 0 14px 18px;

  li {
    position: relative;
    margin-bottom: 4px;
    padding-left: 18px;

    &::before {
      position: absolute;
      top: 8px;
      left: 3px;
      width: 4px;
      height: 4px;
      background: #828282;
      content: "";
    }
  }
}

.rouble {
  font-family: $f-icons;
  text-transform: uppercase;
  font-style: normal;
}

.width {
  &_68 {
    width: 68px;
  }

  &_154 {
    width: 154px;
  }

  &_190 {
    width: 190px;
  }

  &_240 {
    width: 240px;
  }

  &_280 {
    width: 280px;
  }
}

.color {
  &_white {
    color: $c-white;
  }

  &_black {
    color: $c-black;
  }

  &_red {
    color: $c-red-main;
  }
}

.bg {
  &_white {
    background-color: $c-white;
  }

  &_black {
    background-color: $c-black;
  }
}

.text {
  &-left {
    text-align: left;
  }

  &-right {
    text-align: right;
  }

  &-center {
    text-align: center;
  }
}

.float {
  &-left {
    float: left;
  }

  &-right {
    float: right;
  }

  &-none {
    float: none;
  }
}

.dl {
  &_b {
    display: block;
  }

  &_n {
    display: none;
  }

  &_i {
    display: inline;
  }

  &_ib {
    display: inline-block;
  }

  &_tc {
    display: table-cell;
  }
}

.mb {
  &_0 {
    margin-bottom: 0;
  }

  &_4 {
    margin-bottom: 4px;
  }

  &_8 {
    margin-bottom: 8px;
  }

  &_12 {
    margin-bottom: 12px;
  }

  &_16 {
    margin-bottom: 16px;
  }

  &_20 {
    margin-bottom: 20px;
  }

  &_24 {
    margin-bottom: 24px;
  }

  &_28 {
    margin-bottom: 28px;
  }

  &_32 {
    margin-bottom: 32px;
  }

  &_36 {
    margin-bottom: 36px;
  }

  &_40 {
    margin-bottom: 40px;
  }

  &_44 {
    margin-bottom: 44px;
  }

  &_48 {
    margin-bottom: 48px;
  }

  &_52 {
    margin-bottom: 52px;
  }

  &_56 {
    margin-bottom: 56px;
  }

  &_60 {
    margin-bottom: 60px;
  }

  &_64 {
    margin-bottom: 64px;
  }

  &_70 {
    margin-bottom: 70px;
  }

  &_72 {
    margin-bottom: 72px;
  }
}

.fz {
  &_6 {
    font-size: 6px;
  }

  &_7 {
    font-size: 7px;
  }

  &_8 {
    font-size: 8px;
  }

  &_9 {
    font-size: 9px;
  }

  &_10 {
    font-size: 10px;
  }

  &_11 {
    font-size: 11px;
  }

  &_12 {
    font-size: 12px;
  }

  &_13 {
    font-size: 13px;
  }

  &_14 {
    font-size: 14px;
  }

  &_15 {
    font-size: 15px;
  }

  &_16 {
    font-size: 16px;
  }

  &_17 {
    font-size: 17px;
  }

  &_18 {
    font-size: 18px;
  }

  &_19 {
    font-size: 19px;
  }

  &_20 {
    font-size: 20px;
  }

  &_21 {
    font-size: 21px;
  }

  &_22 {
    font-size: 22px;
  }

  &_23 {
    font-size: 23px;
  }

  &_24 {
    font-size: 24px;
  }

  &_25 {
    font-size: 25px;
  }

  &_26 {
    font-size: 26px;
  }

  &_27 {
    font-size: 27px;
  }

  &_28 {
    font-size: 28px;
  }

  &_29 {
    font-size: 29px;
  }

  &_30 {
    font-size: 30px;
  }

  &_31 {
    font-size: 31px;
  }

  &_32 {
    font-size: 32px;
  }
}

.fw {
  &_normal {
    font-weight: normal;
  }

  &_bold {
    font-weight: bold;
  }
}

.overflow {
  &_hidden {
    overflow: hidden;
  }

  &_visible {
    overflow: visible;
  }

  &_auto {
    overflow: auto;
  }
}

.ps {
  &_rel {
    position: relative;
  }

  &_abs {
    position: absolute;
  }

  &_stc {
    position: static;
  }
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.clear:after {
  height: 0;
  clear: both;
  content: ".";
  display: block;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
