@import "./utils/variables";

.auth-page {
  height: 100%;
  background: url("../images/auth-page.png") no-repeat 50% 50%;
  background-size: cover;
  overflow: auto;

  &__container {
    min-height: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: center;
  }
}

.auth-pane {
  width: 444px;
  background: #fff;
  margin: 0 auto;
  padding: 116px 96px 96px 96px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);

  &__extended {
    width: 684px;
  }

  &__title {
    font-size: 34px;
    margin-bottom: 34px;
    font-family: $f-gothapro;
  }

  &__error {
    display: flex;
    margin-bottom: 28px;
    min-height: 36px;
    flex-direction: column;
  }

  &__subtitle {
    font-size: 28px;
    margin-bottom: 36px;
    font-family: $f-gothapro;
  }

  &__text {
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 26px;
  }

  &__label {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__logo {
    position: absolute;
    left: -148px;
    top: 0;
    width: 0;
    height: 0;
    text-align: right;
    font-size: 60px;
    color: $c-blue-main;
    transform: rotate(-90deg);
    font-family: $f-gothapro;
  }

  &__auth-span {
    float: right;
  }

  &__row {
    margin-bottom: 12px;
    display: block;
    position: relative;
  }

  &__errors {
    margin-bottom: 16px;
    color: #d0021b;

    p {
      margin-bottom: 8px;
    }
  }

  &__footlink {
    color: #cbcdce;
    font-size: 16px;
    cursor: pointer;
  }
}

.auth-pane-error {
  margin-bottom: 8px;
  font-size: 16px;
  color: #d0021b;
}

.recover-pass {
  &__fields {
    float: left;
    width: 250px;
    margin-right: 72px;
  }

  &__labels {
    overflow: hidden;
    padding-top: 6px;
  }

  &__confirm {
    color: #d0021b;
  }
}

.recover-pass-errors {
  margin-bottom: 12px;
  min-height: 36px;
  display: flex;
  align-items: center;
  width: 100%;
  flex-flow: row wrap;
}

.pass-labels {
  margin-bottom: 35px;

  &__label {
    color: #c0c4ca;
    position: relative;
    padding-left: 20px;
    margin-bottom: 6px;

    &::before {
      position: absolute;
      left: 0;
      top: 50%;
      width: 10px;
      height: 10px;
      margin-top: -5px;
      border: 1px solid #c0c5ca;
      border-radius: 50%;
      content: "";
    }

    &.true {
      color: #333333;

      &::before {
        border-color: $c-blue-main;
        background: $c-blue-main;
      }
    }
  }
}

.icon-loading {
  animation: loading 1s infinite linear;
}

.captcha {
  &__image {
    float: left;
    margin-right: 16px;
    min-width: 180px;
    min-height: 40px;
  }

  &__refresh {
    overflow: hidden;
    padding-top: 10px;
    display: inline-block;
  }
}

.captcha-refresh {
  display: inline-block;
  cursor: pointer;

  &.loading {
    animation: loading 0.5s infinite linear;
  }
}

@keyframes loading {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}
